@media screen and (min-width: 400px) and (max-width: 768px){

    .desktop{
          display: none;
      }

    body{
      width: 100%; 
      margin: 0px;
      background-color: #012640;
      color: white; 
    }
    
    .header{
         background-color: #003E74;
        position: fixed;
        width: 100%;
        align-items: center;
        margin-top: 0px;
        height: 80px;
        display: flex;
        flex-direction: row nowrap;
        justify-content: center;
    }

    #burguer{
      display: block;
    }

    .menu_burguer{
      display: none;
    }

    .nav {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        gap: 200px;
    }

    .menu_hamburguer {
        margin: 0px;
        position: absolute;
        top: 100%;
        width: 100%;
      
        z-index: 1000;
        display: none; 
        flex-flow: column;
        align-items: center;
        align-self: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.699);
        backdrop-filter: blur(20px); 
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }

    .menu_hamburguer a {
        text-decoration: none;
        color: #333; 
        padding: 15px;
        width: 100%;
        text-align: center;
        font-weight: 500;
    }

    .menu_hamburguer .contato {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }

    .menu_hamburguer .contato img {
        width: 10%;
    }

    .logo{
      width: 50px;
      height: 50px;
    }

    .promocao{
      display: flex;
      justify-content: center;
      align-items: center;
    }


    .pagina-inicial{
        width: 100%;
        display: flex;
        flex-direction: column ;
        justify-content: space-between;
        align-items: center;
    }

    .pagina-inicial-right{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;

    }

    .pagina-inicial-right > img{
      width: 100%;
      height: 100%;
    }

    .promocao{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #012640;
      padding: 110px 0px 0px 0px;
    }

    .promocao > img{
      max-width: 100%;
    }

    .sobre-nos{
      width: 80%;
      margin: 50px 0px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }

    .sobre-nos-texto{
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      text-align: left;
      padding-left: 80px;
    }

    .sobre-nos-texto > h1{
      font-size: 35px;
    }

    .sobre-nos-texto > p{
      font-size: 20px;
      width: 100%;
      text-align: justify;
      color: rgb(255, 255, 255);
    }


    /* SERVIÇOS */
    .servicos{
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-evenly;
      margin: 50px 0px;
      width: 100%
    }

    .servicos h1{
      font-size: 35px;
    }

    .cards{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .card {
        position: relative;
        width: 50%;
        height: 50%;
        overflow: hidden;
        cursor: pointer;
        border-radius: 30px;
        margin: 20px;
    }

    .imagem {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
    }

    .button-saiba-mais{
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px); 
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        gap: 5px;
        width: 40%;
    }

    .servicos-saiba-mais{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 110px 0px 0px 0px;
      text-align: center;
    }

    .servicos-info{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .servicos-left{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px solid #D4AF37; 
      border-radius: 30px; 
      box-shadow: 0 0 10px rgba(212, 175, 55, 0.3);
      background-color: transparent;
      width: 30%;
    }

    .imagem-card1{
      width: 100%;
      border-radius: 30px;

    }

    .preco{
      display: flex;
      flex-flow: row;
      align-items: flex-end;
      font-size: 30px;
    }

    .servicos-rigth{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0px 0px 0px 50px;
    }

    .servicos-rigth > h1{
      margin: 40px;
    }

    .informacoes{
      display: flex;
      flex-direction: column;
      text-align: start;
      justify-content: flex-start;
      font-size: 20px;
    }

    .nossos-trabalhos{
      width: 100%;
      text-align: center;
      padding: 0px 0px 50px 0px;
    }

    .fotos-trabalhos{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .image-trabalho{
      width: 50%;
      height: 100%;
      border-radius: 30px;
    }

    .agendamento > img{
      width: 30%;
      height: 40%;
    }

    .botoes{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      height: 100px;
    }

    .botao-agendar{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(to right, #D4AF37, #A67C00, #b38728);
      border-radius: 30px;
      height: 40%;
      width: 100px;
    }

    .botao-voltar{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(to right, #D4AF37, #A67C00, #b38728);
      border-radius: 30px;
      height: 40%;
      width: 100px;
    }

    .botao-agendar > a{
      text-decoration: none;
      color: white;
      font-size: 20px;
    }

    .botao-voltar > a{
      text-decoration: none;
      color: white;
      font-size: 20px;
    }

    .diferenciais{
      width: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }

    .diferenciais-h1{
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

    }

    .diferenciais-h1 > h1{
      font-size: 35px;
    }

    .conteiner-diferenciais{
      display: flex;
      flex-flow: column;
      justify-content: center;
      width: 80%;
    }

    .diferencial-fora > div > p{
      font-size: 22px;
      width: 90%;
      text-align: justify;
      align-self: center;
    }

    .diferencial-fora{
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 80%;
    }

    .diferencial-fora > div{
      display: flex;
      flex-flow: column;
      justify-content: center;
      text-align: center;
      font-size: 13px;
    }

    .diferencial-dentro{
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 27%;
    }

    .diferencial-dentro > div{
      display: flex;
      flex-flow: column;
      justify-content: center;
      text-align: center;
      font-size: 13px;
    }

    .diferencial-dentro > div > p{
      font-size: 22px;
      width: 90%;
      text-align: justify;
      align-self: center;
    }

    .img-diferencial{
      width: 20%;
      align-self: center;
      border-radius: 5%;
      transition: transform 0.2s ease;
    }

    .agendamento{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 100px 0px 0px 0px;
    }

    .agendamentos-left{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0px 30px 0px;
    }

    .agendamentos-left > img{
      width: 30%;
      height: 40%;
      padding: 50px 0px 0px 0px;
    }

    .agendamentos-left > p{
      font-size: 20px;
      text-align: center;
    }

    .agendamentos-left > h1{
      font-size: 40px;
      text-align: center;
    }

    .formulario{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #004080; 
      color: rgb(255, 255, 255);
      padding: 30px;
      border-radius: 30px;
      margin: 50px 50px 50px 50px;
    }

    .container-formulario {
      padding: 30px;
      border-radius: 20px;
      width: 350px;
    }

    label {
      display: block;
      color: white;
      margin-bottom: 5px;
      font-size: 14px;
      text-align: flex-start;
    }

    .campo {
      margin-bottom: 20px;
    }

    input, select, textarea {
      width: 100%;
      padding: 12px;
      border-radius: 12px;
      border: none;
      outline: none;
      box-sizing: border-box; 
    }

    .btn-confirmar {
      background-color: #c5a044; 
      color: white;
      border: none;
      padding: 12px 0;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    .btn-confirmar:hover {
      background-color: #a38535;
      transform: scale(1.1);
    }

    .depoimentos{
      display: flex;
      flex-flow: column nowrap;
      margin: 50px 0px;
    }

    .title-dep{
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }

    .title-dep > h1{
    font-size: 35px;
    }

    .title-dep > p{
    font-size: 20px;
    }

    .lista-dep{
      display: flex;
      flex-flow: row nowrap;
      color: black;
      justify-content: space-evenly;
      margin-top: 35px;
    }

    .box-dep{
      background-color: white;
      width: 20%;
      padding: 25px 15px;
      border-radius: 5%;
      transition: transform 0.2s ease;
    }

    .box-dep:hover{
      transform: scale(1.05);
    }

    .top-dep{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      font-size: 18px;
    }

    .top-dep > img{
      width: 40%;
      height: 50%;
      border-radius: 50%;
    }

    .data-dep{
      color: gray;
      font-size: 11px;
    }



    /* footer */
    .footer{
      margin: 0px 0px 0px 0px; 
      background-color: #005197;
        color: white;  
        width: 100%;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .top-footer{
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      text-align: center;
    }

    .logo-footer{
      width: 30%;
    }

    .text-footer{
      width: 30%;
    }

    .text-footer > h1{
      font-family: "Michroma", sans-serif;
      font-weight: 100;
      font-style: normal;
    }
    
    .text-footer > p{
      font-family: "League Spartan", sans-serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
    }
    
    .rede-social{
      background-color: transparent;
      border: none;
    }

    .low-footer{
      width: 100%;
      align-items: center;
      font-family: "League Spartan", sans-serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
    }

    .low-footer > p{
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }

    .hr{
      max-width: 95%;
    }

    .michroma-regular {
      font-family: "Michroma", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .archivo-black-regular {
      font-family: "Archivo Black", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .league-spartan-uniquifier {
      font-family: "League Spartan", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
    }


    h1{
      font-family: "Michroma", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    h2{
      font-family: "Michroma", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    h3{
      font-family: "Michroma", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    p{
      font-family: "League Spartan", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
    }

    a{
      font-family: "League Spartan", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
    }
}
